{
    "branches": ["master", "next", "main"],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        ["@semantic-release/npm", {
            "pkgRoot": "package"
        }]
    ]
}