
.customTextInputClass {
    background-color: white;
  }
  .customSeparatorClass {
    background-color: black;
  }
  .customRowClass {
    border: 1px solid red;
  }
  .customWrapperClass {
    border: 0px;
  }
  .customWrapperClass {
    border: 0px;
  }